<!DOCTYPE html>
<html>
  <head>
    <title>WeatherApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'time' %>
    <%= javascript_include_tag 'gpu' %>
    <%= javascript_include_tag 'weather' %>
    <meta http-equiv="refresh" content="900">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-950">
    <main class="">
      <%= yield %>
    </main>
  </body>
</html>
